# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost


# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Neco - a personal finance app"
STACK_NAME=full-stack-fastapi-react

# Security
SECRET_KEY=changethis
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Postgres 
DATABASE_URL=